<div class="page-header">
  <h3>Submission #<%= @submission.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Question</dt>
      <dd>
        <% if @submission.question.present? %>
          <a href="/questions/<%= @submission.question_id %>">
            <%= @submission.question.text %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @submission.user.present? %>
          <a href="/users/<%= @submission.user_id %>">
            <%= @submission.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Selection</dt>
      <dd><%= @submission.selection %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/submissions" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @submission.user %>
        <a href="/submissions/<%= @submission.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_submission/<%= @submission.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
